<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/studentpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <title>MarkATT WEB</title>
</head>
<body class="body">
     <div class="header">
        <div class="head">
            <img src="logo.png" alt="" class="logo">
        </div>
    </div>
    <span class="message_holder">ATTENDANCE RECORDING SESSION FOR {{demo.date}} ENDED</span>
   <!-- <div class="details_holder">
         <div class="contentholder">
        <!--<span class="detail">NUMBER OF STUDENTS PRESENT</span><br>
        <span id="number1" class="data">{{demo.nPresent}}</span><br>
        </div><br>
        
        </div><br>-->
    </div>
</body>
</html>